*{
	margin: 0;
	padding: 0;
	font-family: Arial;

}
header{

	background-image: none;
	height: 10vh;
	background-size: auto;
	background-position: center;
	background-image: scroll;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px; 

}

ul li{

	display: inline-block;
}

ul li a{
	text-decoration: none;
	color:black;
	padding: 2px 5px;
}

ul li a:hover{
	background-color: none;
	color: black; 
}

ul li.active a{
	background-color: none;
	color: black; 
}



.logo img{
	padding-top: 20px;
	padding-left: 40px;
	float: left;
	width: 200px;
}

.main{
	max-width: 1200px;
	margin: auto;
}



.pteam{
	font-size:100px;
	font-weight: 700;
	padding-left: 60px;
	color: black;
	margin: 0;
	padding-top: 200px;
}

.grid-container:hover{
	opacity: 0.9;
	background: red;
}

.grid-item:hover{
	opacity: 0.9;
	background:skyblue;
}

.grid-container{
	background: grey;
}

